# Python Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python C extensions
*.so

# Python Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
Pipfile

# Python Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Python Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.snpio-release
.snpio-pypitest
.snpio-pip
.snpio-pip/bin/python
.snpio-test
.snpio-*/
python
python3

# Web Frameworks
# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Task Runners and Schedulers
# Celery
celerybeat-schedule
celerybeat.pid

# Translation Files
*.mo
*.pot

# Documentation
# Sphinx
docs/_build/
docs/build/

# mkdocs
/site

# Notebook and IDE Settings
# Jupyter
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# Type Checkers
# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Project-Specific Files
sfs_*
snpio_plots/
snpio_output/
unfiltered_reports/
*.csv
*.lock
*.h5
example_data/vcf_files/phylogen.vcf
vcf_attributes.h5
phylogen.vcf
phylogen.vcf.gz
phylogen.vcf.gz.csi
phylogen.vcf.gz.tbi
gtdata_test.vcf
nremover_test.vcf
gtdata_test.vcf
nremover_test.phy
nremover_test.str
test.popmap
test.popmap.rearr.txt

# Miscellaneous
all_packages.txt

# SageMath
*.sage.py

#AppMap
appmap.yml

# PEP 582
__pypackages__/

# pyenv
.python-version

# benchmarking
profile_stats_*.txt

# OS files
.DS_Store
nmt_*

# pipenv
#Pipfile.lock
