#===============================================================================
# OS Files
#===============================================================================
.DS_Store

#===============================================================================
# Byte-compiled / optimized / DLL files
#===============================================================================
__pycache__/
*.py[cod]
*$py.class

#===============================================================================
# Python C extensions
#===============================================================================
*.so

#===============================================================================
# Distribution / packaging
#===============================================================================
.Python
.installed.cfg
*.egg
*.egg-info/
MANIFEST
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
share/python-wheels/
var/
wheels/
pip-wheel-metadata/

#===============================================================================
# Installer logs
#===============================================================================
pip-log.txt
pip-delete-this-directory.txt

#===============================================================================
# Dependency files
#===============================================================================
Pipfile
# Pipfile.lock

#===============================================================================
# Environments
#===============================================================================
.env
.venv
.venv*
env/
env.bak/
venv/
venv.bak/
ENV/

# pyenv
.python-version

#===============================================================================
# PEP 582
#===============================================================================
__pypackages__/

#===============================================================================
# Unit test / coverage reports
#===============================================================================
.cache
.coverage
.hypothesis/
.pytest_cache/
.tox/
.nox/
*.cover
coverage.xml
htmlcov/
nosetests.xml

#===============================================================================
# Type Checkers
#===============================================================================
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

#===============================================================================
# Web Frameworks
#===============================================================================

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

#===============================================================================
# Task Runners and Schedulers
#===============================================================================

# Celery
celerybeat-schedule
celerybeat.pid

#===============================================================================
# Translation files
#===============================================================================
*.mo
*.pot

#===============================================================================
# Documentation
#===============================================================================
docs/_build/
docs/build/
/site

#===============================================================================
# IDE and Notebook files
#===============================================================================

# Jupyter
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

#===============================================================================
# AppMap
#===============================================================================
appmap.yml

#===============================================================================
# SageMath
#===============================================================================
*.sage.py

#===============================================================================
# Project-Specific Files
#===============================================================================
.snpio-*/
.snpio-pip
.snpio-pip/bin/python
.snpio-pypitest
.snpio-release
.snpio-test
sfs_*
snpio_plots/
snpio_output/
snpio_filtered_output/
unfiltered_reports/
vcf_output/
logs/
profile_stats_*.txt
data_sorted.txt
data.txt
header.txt
filtered_missingness_report.png
pca_missingness.html
filtering_results_sankey_thresholds*.html
snpio/example_data/vcf_files/phylogen.vcf
vcf_attributes.h5
phylogen.vcf
phylogen.vcf.gz
phylogen.vcf.gz.csi
phylogen.vcf.gz.tbi
gtdata_test.vcf
nremover_test.vcf
nremover_test.phy
nremover_test.str
test.popmap
test.popmap.rearr.txt
.commit
snpio_workflow.*
snpio_workflow_*.png
snpio_workflow_*.pdf
snpio_workflow_*.svg
snpio_workflow_*.html
dryad_files/
conda_build_artifacts/

#===============================================================================
# Analysis / Validation files
#===============================================================================
MAS/
MAS_*
analysis_compare*_output/
real_data*_output/
real_data2/
Ranalysis/
grouped_simulated_genotypes.txt
simulated_genotypes.txt
SNPio_HierFstat_*
simulated_comparison*_output/
simulated_comparison_*/
test_write_*_output/
test_write_output/
test_write.*
bayescan.*
flow_diagram_clustered_mini.*
*.phy.gz
test_*_output/
snpio_dryad_tests_*_output/
snpio_dryad_tests_output/
snpio_validation_and_tests/
BOX_analysis_output/
BOX_analysis_final*
BOX_analysis*_output/
adegenet_analysis.R
validation/
*.RData
*.Rhistory
*.R

#===============================================================================
# Benchmarking / Profiling scripts and results
#===============================================================================
benchmark_results_4Jun25/
benchmark_results_6Jun25/
benchmark_results_6Jun25.tar.gz
proc_*benchmark_*.py
proc_*benchmark_*.zsh
flow_diagram.py
flow_diagram_clustered.py
flow_diagram_clustered_mini.py
run_snpio_benchmarks*.py
run_snpio_filters.py
run_snpio_nremover*.zsh
run_hyperfine*.zsh
run_memory*.zsh
run_benchmark*.zsh
proc_filter_benchmark_results.zsh
proc_filter_behchmark_results.zsh
Rplots.pdf

#===============================================================================
# Miscellaneous
#===============================================================================
all_packages.txt
*.csv
*.lock
*.h5
_minted-input
keybindings.json
tasks.json
python
python3
